           __  _____      ___  __  _____  ___  __________
          /  |/  / / ____/ _ \/ / / / _ \/ _ \/ __/_  __/
         / /|_/ / /_/___/ ___/ /_/ / ___/ ___/ _/  / /
        /_/  /_/____/  /_/   \____/_/  /_/  /___/ /_/
   -------------------------------------------------------------
           UNAUTHORIZED ACCESS STRICTLY PROHIBITED!
   -------------------------------------------------------------
   systemname   : <%= sprintf "%-20s", @hostname %>
   -------------------------------------------------------------
<% if @remark != '' -%>
   <%= @remark %>
   -------------------------------------------------------------
<% end -%>
